$primary: #07818e;
$dark: #2c3e50;
$light: #c4c4c4;

@import "~bootstrap/scss/bootstrap";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  border: 1px solid $light;
  border-radius: 2rem;
  padding: 2rem;
  margin: 5% auto auto auto;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

body {
  color: $dark;
  padding: 2rem;
}

button.btn {
  min-width: 120px;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;    
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: $dark;
}

.eprase-logo {
  height: 85px;
}

.form-control:invalid {
  background: none;
  background-color: #fff;
  border-color: $danger;
  border-width: 2px;
}

.text-error {
  color: #1c3f37;
  font-weight: bold;
}
