@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "@vueform/vueform/themes/bootstrap/scss/index.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
  border: 1px solid $light;
  border-radius: 2rem;
  margin: auto auto auto auto;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

main.leftalign {
  text-align: left;
  justify-content: left;
  align-items: left;
  margin: 2rem auto auto auto;
  padding: 0;
}

body {
  color: $dark;
  padding: 2rem;
}

div.centered-heading {
  margin: auto auto auto auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.modal-backdrop {
  display: none;
}

body > div.modal-backdrop:last-child {
  display: block;
}

button.btn {
  min-width: 120px;
}

button.btn:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;    
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: $dark;
    text-decoration: none;
    cursor: pointer;
}

a:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

a.disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.pills-banner img {
  object-fit: cover;  
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: auto;
  margin-bottom: 1rem;
}

.smallimg {
  height: 25px;
  width: auto;
}

.version-text {
  font-size: smaller;
  color: $primary;
}

.text-error {
  color: #1c3f37;
  font-weight: bold;
}

.text-invalid {
  color: $invalid;
}

span.required-field {
  color: $primary;
}

span.note {
  color: $info;
}

.align-content-center {
  text-align: center;
}

ul.dropdown-menu {
  width: 100%;
}

ul.dropdown-menu li {
  display: block;
}

td.no-mitigation {
  background-color: $danger;
}

td.good-mitigation {
  background-color: $success;
}

td.some-mitigation {
  background-color: $warning;
}

td.over-mitigation {
  background-color: $info;
}

input[type="checkbox"], input[type="radio"] {
  /* Make checkboxes and radios bigger */
  --vf-space-checkbox: 1rem;
  --vf-checkbox-size: 1.25rem;
  /* Darken the borders of radios and checkboxes to make them easier to see */
  --vf-border-color-input: var(--vf-gray-500); 
}

/* Give navigation tabs a permanent border - https://github.com/NewcastleRSE/Vue-eprase/issues/230 */
.nav-tabs .nav-link:not(.active) {
  border: var(--bs-nav-tabs-border-width) solid !important;
}

.nav-tabs .nav-link:not(.active):hover {
  background-color: $primary-bg-subtle !important;
}
