$primary: #07818e;
$dark: #2c3e50;
$light: #c4c4c4;
/* Checkbox outlines are so light by default they are difficult to see */
$form-check-input-border: 1px solid rgba($dark, .50);
/* Increase the width of tooltips */
$tooltip-max-width: 350px;
/* Increase the width and visibility of navigation tabs */
$nav-tabs-border-color: $primary;
$nav-tabs-border-width: 2px;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-link-hover-border-color: $primary;
$nav-tabs-link-active-bg: $primary;
$nav-tabs-link-active-color: white;
$nav-link-font-weight: "bold";

@import "~bootstrap/scss/bootstrap";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
  border: 1px solid $light;
  border-radius: 2rem;
  margin: auto auto auto auto;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

main.leftalign {
  text-align: left;
  justify-content: left;
  align-items: left;
  margin: 2rem auto auto auto;
  padding: 0;
}

body {
  color: $dark;
  padding: 2rem;
}

div.modal-backdrop {
  display: none;
}

body > div.modal-backdrop:last-child {
  display: block;
}

button.btn {
  min-width: 120px;
}

button.btn:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;    
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: $dark;
    text-decoration: none;
}

.pills-banner {
  /* NOTE: this banner is in the 'public' folder at the top level - its being in 'src/assets' leads to huge webpack problems I can't resolve - David Herbert 01/03/2024 */
  background-image: url('/pills-bw.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 80px;
  margin-bottom: 1rem;
}

.smallimg {
  height: 25px;
  width: auto;
}

.version-text {
  font-size: smaller;
  color: $primary;
}

.text-error {
  color: #1c3f37;
  font-weight: bold;
}

span.required-field {
  color: $primary;
}

span.note {
  color: $info;
}

.align-content-center {
  text-align: center;
}
